<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head ('OMDb Found Movies')"></div>

<body>
<div th:replace="~{fragments/navbar :: navbar-cms}"></div>
<div th:replace="~{fragments/input-form :: omdb-search-form}"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 align="center" th:if="${#lists.isEmpty(omdbMovies)}">no movies found</h3>
            <div th:if="${!#lists.isEmpty(omdbMovies)}">
                <h3 class="my-5">Movies found:</h3>
                <table class="table table-hover table-striped table-responsive-md">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Plot</th>
                        <th>Year</th>
                        <th>Categories</th>
                        <th>Picture</th>
                        <th>Add</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="omdbMovie, itemStat : ${omdbMovies}">
                        <td th:text="${omdbMovie.title}"></td>
                        <td align="justify" th:text="${omdbMovie.plot}"></td>
                        <td th:text="${omdbMovie.year}"></td>
                        <td th:text="${omdbMovie.genre}"></td>
                        <td>
                            <a class="btn btn-primary"
                               th:href="${omdbMovie.poster}" th:if="${!#strings.isEmpty(omdbMovie.poster)}">
                                <i class="far fa-image ml-2"></i>
                            </a>
                        </td>
                        <td>
                            <form method="post" th:action="@{/omdb/save/{id}(id=${omdbMovie.id})}"
                                  th:object="${omdbMovies}">
                                <input th:name="|omdbMovies[${itemStat.index}].id|" th:value="${omdbMovie.id}"
                                       type="hidden"/>
                                <input th:name="|omdbMovies[${itemStat.index}].title|" th:value="${omdbMovie.title}"
                                       type="hidden"/>
                                <input th:name="|omdbMovies[${itemStat.index}].plot|" th:value="${omdbMovie.plot}"
                                       type="hidden"/>
                                <input th:name="|omdbMovies[${itemStat.index}].genre|" th:value="${omdbMovie.genre}"
                                       type="hidden"/>
                                <input th:name="|omdbMovies[${itemStat.index}].year|" th:value="${omdbMovie.year}"
                                       type="hidden"/>
                                <input th:name="|omdbMovies[${itemStat.index}].poster|" th:value="${omdbMovie.poster}"
                                       type="hidden"/>
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-plus ml-2"></i>
                                </button>

                                <!--                            <a class="btn btn-primary" th:href="@{/omdb/save/{id}(id=${omdbMovie.id})}" type="submit">-->
                                <!--                                <i class="fas fa-plus ml-2"></i>-->
                                <!--                            </a>-->
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>